* {
	margin: 0;
	padding: 0;
}
body {
	background: #ffffff;
	color: #52527a;
}
a {
	color: #4d94ff;
}
section.container {
    margin: 10% auto;
    padding: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
	background: #e5f0ff;
	border: 1px solid #4d93ff;
	border-radius: 5px;
}
section h2 {
	border-bottom: 1px solid #ccc;
    padding: 15px;
}
form label {
	color: #4d93ff;
	display: block;
}
form input {
	width: 80%;
	padding: 5px 15px;
	border: 1px solid #4d93ff;
	border-radius: 5px;
	color: #52527a;
}
form button {
	color: #52527a;
	padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form div {
	padding: 15px 15px 15px 80px;
    text-align: left;
}
header, footer {
	width: 100%;
	display: inline-block;
	padding: 20px;
	background: #e5f0ff;
}
header nav ul {
	list-style: none;
	text-align: right;
	margin: 25px 50px;
}
header nav ul li {
	display: inline-block;
	padding: 0 25px;
}
header nav ul li a {
	color: #52527a;
	text-decoration: none;
}
header nav ul li a:hover {
	color: #ccc;
}
header nav {
	width: 80%;
	height: 50px;
	float: right;
}
header div {
	text-align: center;
	width: 20%;
	height: 50px;
	float: left;
}
header a img {
	width: 100px;
	height:50px;
}
.banner {
	padding: 50px;
	text-align: center;
}
.banner img {
	width: 100%;
}
.thumbnail {
	background: #e5f0ff;
    padding: 25px;
    text-align: center;
    width: 29%;
    display: inline-block;
    margin: 25px 2px;
}
.thumbnail figure {
	display: inline-block;
	padding: 15px;
    font-size: 12px;
    text-transform: capitalize;
}
article {
	display: inline-block;
	width: 100%;
}